<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,516},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>background_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird_blue_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,880},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_blue_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,843},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_blue_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,806},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_red_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,980},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_red_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,954},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_red_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,917},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_yellow_fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,880},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_yellow_fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,843},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>bird_yellow_fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,806},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>btn_game_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,992},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>btn_game_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,806},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>btn_game_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,806},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>floor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>icon_rank_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>img_game_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,854},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>img_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,806},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>img_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,970},{192,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,50}}</string>
                <key>sourceSize</key>
                <string>{192,50}</string>
            </dict>
            <key>img_game_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,806},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>num_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,908},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,950},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,870},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,832},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,912},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,912},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,986},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,986},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_big_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,992},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>num_medium_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,854},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,958},{10,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,822},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,806},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,950},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_medium_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>num_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,942},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,958},{6,14}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,928},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,914},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,900},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,886},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,872},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,858},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,822},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>num_small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,806},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>obstacle_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>obstacle_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>obstacle_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>obstacle_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>prize_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,912},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>prize_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,912},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>prize_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>prize_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>result_bord_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{226,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,114}}</string>
                <key>sourceSize</key>
                <string>{226,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappy_bird.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42654f292da87ce194204f992813a381:beefd038b76b1066e7ef7e01bf9bb5f3:64c693bb2c251caeceb91e2c63c68b8e$</string>
            <key>textureFileName</key>
            <string>flappy_bird.png</string>
        </dict>
    </dict>
</plist>
